contourpy
coverage
cycler
fonttools
iniconfig
kiwisolver
matplotlib
networkx
numpy
packaging
pillow
pluggy
Pygments
pyparsing
pytest
pytest-cov
python-dateutil
six
-e git+ssh://git@github.com/hjstephan/subgraph.git
